<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DataObjectConnectionStringName" value="ATA_MembershipConnection" />
		<!-- ATA SMTP Server information-->
		<add key="ATASMTPServer" value="127.0.0.1" />
		<add key="ATASMTPServerPort" value="" />
		<add key="ATADeliveryMethod" value="" />
		<add key="UserManagerCurrentSite" value="Fuels" />
		<add key="ATAFuelsSiteUrl" value="http://ata" />
		<add key="ATAFuelsOwnerGroupName" value="ATA Development Site Owners" />
		<add key="ATAMembersSiteUrl" value="http://ata.members.airlines.org/" />
		<add key="ATAEMMExemptionSiteURL" value="https://portal.airlines.org/os/emmc/reg-ex" />
		<add key="ATAEMMExemptionListName" value="Regulatory Exemptions" />
		<add key="ATAMembersSiteUrlUser" value="teqmavens" />
		<add key="ATAMembersSiteUrlPassword" value="&amp;nYV695u" />
		<add key="ATAMembersSiteOwnerGroupName" value="ATA Development Site Owners" />
		<add key="EMMSubsiteURL" value="/councils/engineering_maintenance/special_interest/" />
		<add key="EMMList" value="Regulatory Exemptions" />
		<add key="SusQTechActiveDirectoryManagerDomain" value="intra.susqtech.com" />
		<add key="SusQTechActiveDirectoryManagerADUser" value="patrickr" />
		<add key="SusQTechActiveDirectoryManagerADPassword" value="l0stfr3d!@" />
		<add key="SusQTechActiveDirectoryManagerADUsersPath" value="" />
		<add key="SusQTechActiveDirectoryManagerWSSUrl" value="" />
		<add key="MailUrl" value="https://portal.airlines.org/os/emmc/reg-ex" />

		<!-- ATA SMTP Server information-->
		<add key="SMTPServer" value="mail.ata.org" />
		<add key="ReportLogErrorTo" value="errors@ailrines.org" />
		<add key="BccLogErrorTo" value="" />
		<add key="ErrorEmailTitle" value="Error on ATA.Exemptions daily task at Airlines.org" />
		<add key="ErrorEmailTitle0" value="Exemption has expired" />
		<add key="ErrorEmailTitle30" value="This Exemption Is Expiring Soon (30 days)" />
		<add key="ErrorEmailTitle60" value="This Exemption Is Expiring Soon (60 days)" />
		<add key="ErrorEmailTitle90" value="This Exemption Is Expiring Soon (90 days)" />
		<add key="ErrorEmailTitle120" value="This Exemption Is Expiring Soon (120 days)" />
		<add key="ErrorEmailTitle150" value="This Exemption Is Expiring Soon (150 days)" />
		

		<add key="ErrorEmailFromAddress" value="OPS-EMMExemptions@airlines.org" />
		<add key="EmailToAddress" value="OPSEMMExemptions@airlines.org" />
		<add key="EmailToList" value="" />

		<!-- Lyris Updater specific properties -->
		<add key="LyrisUpdate_IncludeContactsForAllUsers" value="false" />
		<add key="LyrisUpdate_ListNameForAllFuelsUsers" value="allfuel" />
		<add key="LyrisUpdate_ListNameForAllMembersUsers" value="all.member" />
		<!-- <add key="LyrisUpdate_AdminADGroupName" value="fuel	 portal admins"/> -->
		<add key="LyrisUpdate_AdminADGroupName" value="tsp" />
	</appSettings>
	<connectionStrings>
		<add name="LyrisListDb" connectionString="Data Source=W2K3R2WSS3;Initial Catalog=ATA_Membership;Integrated Security=True" />
		<add name="ATA_MembershipConnection" connectionString="Data Source=W2K3R2WSS3;Initial Catalog=ATA_Membership;Integrated Security=True" />
	</connectionStrings>
	<system.web>
		<machineKey validationKey="D5FE75A654DD3E334621B749CF3E9524C3522A6DE556D883CA8325428E30B9A1781D0B240DB3E5E8433A21E958A96FCD4BD8D50E30AC81EC4DCC5523F7DA135D" decryptionKey="8CC5EBFFC0BF8AB78CFB8D00C406E4B4CAD1F5D6CC2F4695EBA2A7E4F56548AA" validation="SHA1" decryption="AES" />
		<membership defaultProvider="ATAMembershipProvider">
			<providers>
				<add name="ATAMembershipProvider" type="ATA.Authentication.Providers.ATAMembershipProvider, ATA.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=65b988712bd31de0" enablePasswordRetrieval="true" enablePasswordReset="true" applicationName="/" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordFormat="Encrypted" passwordStrengthRegularExpression="" passwordAttemptWindow="10" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" connectionStringName="ATA_MembershipConnection" />
			</providers>
		</membership>
		<!-- role provider -->
		<roleManager enabled="true" defaultProvider="ATARoleProvider">
			<providers>
				<add applicationName="/" name="ATARoleProvider" type="ATA.Authentication.Providers.ATARoleProvider, ATA.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=65b988712bd31de0" connectionStringName="ATA_MembershipConnection" />
			</providers>
		</roleManager>
	</system.web>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>